<h1 mat-dialog-title>{{ data.area ? 'Editar Área' : 'Agregar Área' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre del Área</mat-label>
    <input matInput [(ngModel)]="nombre" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Asignar Usuario</mat-label>
    <mat-select [(ngModel)]="usuarioSeleccionado">
      <mat-option *ngFor="let usuario of data.usuarios" [value]="usuario.id">
        {{ usuario.nombreCompleto }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>
