<div class="inicio-container">
  <div class="dashboard-grid">
    <div class="dashboard-item" (click)="navigateTo('/items')">
      <mat-icon class="dashboard-icon">inventory</mat-icon>
      <h3>Inventario</h3>
      <p>Crear/Actualizar/Borrar</p>
    </div>

    <div class="dashboard-item" (click)="navigateTo('/items')">
      <mat-icon class="dashboard-icon">article</mat-icon>
      <h3>Asignación</h3>
      <p>Inventario/Usuarios</p>
    </div>

    <div class="dashboard-item" (click)="navigateTo('/items')">
      <mat-icon class="dashboard-icon">description</mat-icon>
      <h3>Reportes</h3>
      <p>Generación de reportes</p>
    </div>
  </div>
</div>
