  .articulos-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .articulos-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .toolbar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--toolbar-text-color, white) !important;
  
  }
  
  .mat-form-field input[matInput] {
    margin-top: 12px;
    margin-left: -9px;
    padding: 8px;
    border-radius: 7px;
    background-color: #ffffff;
  }
  
  .custom-green-button {
    background-color: #30B86B;
    color: #fff;
    font-weight: bold;
    border: 1px solid  #ccc;
  
  }
  
  .custom-green-button:hover {
    background-color: #279a5b;
  }
  
  @media (max-width: 480px) {
  
    .articulos-table th,
    .articulos-table td {
      font-size: 12px;
      padding: 4px;
    }
  
    .toolbar-title {
      font-size: 18px;
    }
  
    button {
      font-size: 14px;
      padding: 6px 12px;
    }
  }