  .articulos-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .articulos-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .excel-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .toolbar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--toolbar-text-color, white) !important;
  
  }
  
  .mat-form-field input[matInput] {
    margin-top: 12px;
    margin-left: -9px;
    padding: 8px;
    border-radius: 7px;
    background-color: #ffffff;
  }
  
  .custom-green-button {
    background-color: #30B86B;
    color: #fff;
    font-weight: bold;
    border: 1px solid  #ccc;
  
  }
  
  .custom-green-button:hover {
    background-color: #279a5b;
  }

  .filter-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    width: 100%;
  }
  
  .filter-field {
    flex: 1;
    max-width: 400px;
    width: 100%;
  }
  
  mat-form-field {
    background: #f5f5f5; 
    border-radius: 5px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
  }
  
  
  @media (max-width: 480px) {
  
    .articulos-table th,
    .articulos-table td {
      font-size: 12px;
      padding: 4px;
    }
  
    .toolbar-title {
      font-size: 18px;
    }
  
    button {
      font-size: 14px;
      padding: 6px 12px;
    }
  }