<h1 mat-dialog-title>
  {{ articuloSeleccionado ? 'Editar Asignación' : 'Reasignar Artículos' }}
</h1>

<div mat-dialog-content>
  <div *ngIf="articuloSeleccionado">
    <mat-form-field appearance="fill">
      <mat-label>Artículo</mat-label>
      <input matInput [value]="articuloSeleccionado.codigoInterno + ' - ' + articuloSeleccionado.nombreArticulo"
        readonly />
    </mat-form-field>
  </div>

  <div *ngIf="isReassigning">
    <mat-form-field appearance="fill">
      <mat-label>Usuario Actual</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="autoUsuarioActual"
        [(ngModel)]="usuarioFiltroActual"
        (ngModelChange)="filtrarUsuariosActuales()"
      />
      <mat-autocomplete #autoUsuarioActual="matAutocomplete" (optionSelected)="seleccionarUsuarioActual($event)">
        <mat-option *ngFor="let usuario of usuariosFiltradosActuales" [value]="usuario.nombre">
          {{ usuario.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>{{ isReassigning ? 'Nuevo Usuario/Área' : 'Asignar Usuario' }}</mat-label>
    <input type="text" matInput [matAutocomplete]="autoUsuarioSeleccionado" [(ngModel)]="usuarioFiltro"
      (ngModelChange)="filtrarUsuarios()" />
    <mat-autocomplete #autoUsuarioSeleccionado="matAutocomplete" (optionSelected)="seleccionarUsuario($event)">
      <mat-option *ngFor="let usuario of usuariosFiltrados" [value]="usuario.nombre">
        {{ usuario.nombre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="isReassigning">
    <mat-form-field appearance="fill">
      <mat-label>Motivo</mat-label>
      <textarea matInput [(ngModel)]="motivo"></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>