.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  max-width: 900px;
  margin: 0 auto; 
}

.field-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
