.leyenda-container {
    background-color: #f1f1f1;
    padding: 1px;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    border-top: 1px solid #30B86B;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .leyenda-container p {
    margin: 1px 0;
  }
  
  .leyenda-container a {
    color: #30B86B;
    text-decoration: none;
    font-weight: bold;
  }
  
  .leyenda-container a:hover {
    text-decoration: underline;
  }
  