<div class="inicio-container">
  <div class="detalle-container">
    <div class="header">
      <h1>Detalle del Artículo</h1>
      <img [src]="qrCodeUrl" alt="Código QR" *ngIf="qrCodeUrl" class="qr-code" />

    </div>


    <div class="detalle-section">
      <h2>Información del Artículo</h2>
      <ul>
        <li><strong>Nombre:</strong> {{ articulo?.articulo?.nombre }}</li>
        <li><strong>Código Origen:</strong> {{ articulo?.articulo?.codigoOrigen }}</li>
        <li><strong>Código Interno:</strong> {{ articulo?.articulo?.codigoInterno }}</li>
        <li><strong>Descripción:</strong> {{ articulo?.articulo?.descripcion }}</li>
        <li><strong>Marca:</strong> {{ articulo?.articulo?.marca }}</li>
        <li><strong>Estado:</strong> {{ articulo?.articulo?.estado }}</li>
        <li><strong>Observación:</strong> {{ articulo?.articulo?.observacion }}</li>
      </ul>
    </div>

    <div class="detalle-section">
      <h2>Usuario Asignado</h2>
      <p><strong>Nombre:</strong> {{ articulo?.usuarioAsignado?.nombreCompleto }}</p>
      <p><strong>Correo:</strong> {{ articulo?.usuarioAsignado?.correo }}</p>
    </div>

    <div class="detalle-section">
      <h2>Historial</h2>
      <ul>
        <li *ngFor="let history of articulo?.historial">
          <strong>{{ history.tipoOperacion }}:</strong> {{ history.descripcion }}
        </li>
      </ul>
    </div>
    <div class="detalle-section">
      <h2>Archivos</h2>
      <table mat-table [dataSource]="articulo?.archivos" class="mat-elevation-z8">
                <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let archivo"> {{ archivo.tipo }} </td>
        </ng-container> 
            <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef> Path </th>
          <td mat-cell *matCellDef="let archivo"> {{ archivo.path }} </td>
        </ng-container>
            <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let archivo">
            <button mat-icon-button color="primary" (click)="Revisar(archivo.path)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="Descargar(archivo.path)">
              <mat-icon>download</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> 
      <div class="button-container column">
        <button mat-icon-button *ngIf="isAdmin()" color="primary" (click)="agregarPdf()">
          <mat-icon>backup</mat-icon>
          Subir PDF
        </button>
        <button mat-icon-button color="primary" (click)="generarReporte()">
          <mat-icon>download</mat-icon>
          Descargar Reporte
        </button>
      </div>
  </div>
</div>