<div class="inicio-container">
  <div class="barra-container custom-toolbar">
    <span class="toolbar-title">Gestión de Áreas</span>
  </div>
  <div class="areas-container">
    <button mat-raised-button class="button-agregar" (click)="agregarArea()">
      <mat-icon>add</mat-icon>
      Agregar Área
    </button>

    <table mat-table [dataSource]="areas" class="areas-table">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre del Área </th>
        <td mat-cell *matCellDef="let area"> {{ area.nombreArea }} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario Encargado </th>
        <td mat-cell *matCellDef="let area"> {{ area.nombreUsuarioEncargado }} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let area">
          <button mat-icon-button color="primary" (click)="editarArea(area)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarArea(area.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
