.areas-container {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.areas-table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--toolbar-text-color, white);
}

.custom-green-button {
  background-color: #30B86B;
  color: #fff;
  font-weight: bold;
  border: 1px solid #ccc;
}

.custom-green-button:hover {
  background-color: #279a5b;
}

/* Responsividad */
@media (max-width: 480px) {
  .areas-table th,
  .areas-table td {
    font-size: 12px;
    padding: 4px;
  }

  .toolbar-title {
    font-size: 18px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
