.inicio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background: linear-gradient(-135deg, #30B86B 50%, #f1f1f1 50%);
  }
  
  .usuarios-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .usuarios-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .toolbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  input[type='text'] {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  