@use '@angular/material' as mat;

$primary-palette: mat.define-palette((
  50: #e0f2e9,
  100: #b3e0c8,
  200: #80cfa4,
  300: #4dbd80,
  400: #26ad66,
  500: #279957, 
  600: #22854a,
  700: #1d7240,
  800: #195f36,
  900: #124426,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff, 
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$warn-palette: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: mat.define-palette(mat.$pink-palette), 
    warn: $warn-palette, 
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($custom-theme);


.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-135deg, #30B86B 50%, #f1f1f1 50%);
  padding: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  .error-snackbar {
    background-color: #be1104 !important; 
  }
}


.success-snackbar {
  background-color: #4caf50 !important; 
}

:root {
  --primary-color: #30B86B;
  --secondary-color: #f1f1f1;
  --gradient: linear-gradient(-135deg, var(--primary-color) 50%, var(--secondary-color) 50%);
  --text-color: #ffffff; 
  --hover-color: #279957; 
}


