.usuarios-container {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}


.excel-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.usuarios-table {
  width: 100%;
  margin-top: 20px;
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--toolbar-text-color, white) !important;

}

input[type='text'] {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-green-button {
  background-color: #30B86B;
  color: #fff;
  font-weight: bold;
  border: 1px solid  #ccc;

}

.custom-green-button:hover {
  background-color: #279a5b;
}

@media (max-width: 480px) {

  .usuarios-table th,
  .usuarios-table td {
    font-size: 12px;
    padding: 4px;
  }

  .toolbar-title {
    font-size: 18px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
  }
}