<p-card class="mat-elevation-z4" [style]="{ height: '100vh', display: 'flex', flexDirection: 'column' }">
  <div style="text-align: center; margin-bottom: 16px;">
    <h2>Configuración de usuarios</h2>
  </div>

  <div [style]="{ display: 'flex', flexWrap: 'wrap', gap: '16px' }">
    <button mat-raised-button color="primary" (click)="agregarUsuario()">
      <mat-icon>add</mat-icon>
      Agregar Usuario
    </button>

    <button mat-raised-button color="accent" (click)="triggerFileInput()">
      <img src="assets/excel.png" alt="Excel" style="width: 20px; height: 20px; margin-right: 8px;" />
      Importar
    </button>
    <input type="file" accept=".xlsx, .xls" #fileInput (change)="importarExcel($event)" hidden />

  </div>

  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Filtrar por nombre completo</mat-label>
    <input matInput [(ngModel)]="filtro" (keyup)="aplicarFiltro($event)" placeholder="Escribe un nombre" />
  </mat-form-field>

  <div [style]="{ flex: 1, overflowX: 'auto', marginTop: '16px' }">
    <p-table [value]="filtroUsuarios" [paginator]="true" [rows]="pageSize" [totalRecords]="totalElements"
      [rowsPerPageOptions]="[10, 20, 50]" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" [(selection)]="seleccionados"
      [scrollable]="true" [responsiveLayout]="'scroll'"
      [currentPageReportTemplate]="'Mostrando desde {first} al {last} de {totalRecords} registros'"
      [style]="{ minWidth: '600px', width: '100%' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre Completo</th>
          <th>Correo</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{ usuario.nombreCompleto }}</td>
          <td>{{ usuario.correo }}</td>
          <td> 
            <input type="checkbox" [(ngModel)]="usuario.activo" disabled/>
          </td>
          <td>
            <button mat-icon-button color="accent" (click)="editarUsuario(usuario)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No hay artículos disponibles</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>